$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Noto Sans KR', sans-serif;


$bg: #1b0080;

$primary-color: #99dd6e;
$color-hover: #ccee5d;
$color-text-fifth: #deff72;
$color-purple: #663cc5;
